body {
    margin: 0 auto;
    background-color: #F5E6CC;
}

img {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

#main {
    margin: 0 auto;
    width: 1300px;
}

#navbar a {
    text-decoration: none;
    color: #5C4033;
    width: 130px;
    text-align: center;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #F5E6CC;
}

#navbar a:hover {
    border-bottom: 1px solid #C0392B;
    color: #C0392B;
}

p {
    color: #5C4033;
}

#footer {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFF;
    width: 100%;
}