body {
    margin: 0;
    background-color: grey;
}

h1 {
    font-size: 3em;
    color: #FFF;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
}

#header {
    background-position: 50% 25%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    width: 100%;
}

#main {
    padding: 5px 20px 5px 20px;
    background-color: white;
}

#footer {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFF;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: black;
}

#navbar a {
    text-decoration: none;
    color: white;
    width: 130px;
    text-align: center;
    padding: 10px;
    display: block;
    /* only block elements can have width */
    border-bottom: 1px solid black;
}

#navbar a:hover {
    border-bottom: 1px solid #900;
    color: #900;
}